<table border=1 class="table">
    <tr class="danger">
        <td>Specifications</td>
    </tr>
    <tr class="info">
        <td><%= @mobile.specs%></td>
    </tr>
    </table>
<h3 align="right"><%= link_to "List Products", mobiles_path, :class=> "btn btn-primary"%></h3>