<h1>WELCOME <%= @email %></h1>

<p>
  Welcome to CELL-STORE 
</p>
<p>
    Use the below code code & get a free 2GB SanDisk memory card for the shop of above Rs1000
</p>
<p>
    45sssn87
</p>
<p>
    Thanks,
</p>
<p>
    Team Cell-Store
</p>
